Checks: >
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  modernize-*,
  readability-*,
  cppcoreguidelines-*,
  -readability-identifier-naming,
  -readability-magic-numbers,
  -readability-isolate-declaration,
  -readability-function-cognitive-complexity,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-avoid-magic-numbers,
  -modernize-use-trailing-return-type,
  -hicpp-*,
  -llvm-*,
  -fuchsia-*,
  -google-*,
  -zircon-*,
  -misc-non-private-member-variables-in-classes,
  -readability-braces-around-statements,
  -cppcoreguidelines-pro-type-static-cast-downcast

WarningsAsErrors: ''

HeaderFilterRegex: '.*'

FormatStyle: none
